* {
    font-family: sans-serif;
}

body {
    margin-left: 2em;
    margin-right: 2em;
}

table {
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 2px 1px grey;
}

tr:nth-of-type(2n) {
    background-color: rgb(220, 239, 250);
}


